# 문제1 : 리스트의 삭제

다음 리스트에서 400, 500을 삭제하는 code를 입력하시오.

In [ ]:
num = [100, 200, 300, 400, 500]

In [ ]:
num

[100, 200, 300, 400, 500]

In [ ]:
del num[3:5]
num

[100, 200, 300]

In [ ]:
num = [100, 200, 300, 400, 500]

In [ ]:
num.remove(400) 
num.remove(500)
num

[100, 200, 300]

# 문제2 : 리스트의 내장함수



```python
ㅣ = [200, 100, 300]
<pass>
print(1)
```

<pass> 부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력

```python
[200, 100, 10000, 300]
```

In [ ]:
l = [200, 100, 300]

l.insert(2,10000)

print(l)

[200, 100, 10000, 300]

# 문제3 : 변수의 타입

다음 중 출력 값으로 올바른 것은?
```python
ㅣ = [100, 200, 300]
print(type(l))
```

In [ ]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

# 문제4 : 변수의 타입2

다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

1) 입력 : a=1, 출력: class'int'  
2) 입력 : a=2.22, 출력: class'float'  
3) 입력 : a='p', 출력: class'char'  
4) 입력 : a=[1,2,3], 출력: class'list'

In [ ]:
a = 1
print(type(a))
a = 2.22
print(type(a))
a='p'
print(type(a))
a=[1,2,3]
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

# 문제5: for문 계산

다음 코드의 출력 값으로 알맞은 것은?

```python
a = 10
b = 2
for i in range(1, 5, 2):
  a += 1

print(a+b)
```

In [ ]:
a = 10
b = 2
for i in range(1, 5, 2):
  a += i

print(a+b)

16